/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700|PT+Serif:400|Montserrat:700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ----------------------------------- */
/* ------- Variables and mixins ------ */
/* ----------------------------------- */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

html,
body {
  height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  background: #e79e11 url(../img/noise.png);
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px; }
  ul > li {
    padding-left: 20px; }
    ul > li:before {
      content: '-';
      display: inline-block;
      text-indent: -20px; }

p {
  font-family: "PT Serif", serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.6; }

.container {
  max-width: 1400px;
  height: 100%;
  position: relative;
  margin: 0 auto; }

.row {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.bottom-xs {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end; }

.middle-xs {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.pull-right {
  float: right; }

.col-100 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-90 {
  -webkit-flex-basis: 90%;
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
  max-width: 90%; }

.col-80 {
  -webkit-flex-basis: 80%;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  max-width: 80%; }

.col-70 {
  -webkit-flex-basis: 70%;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  max-width: 70%; }

.col-60 {
  -webkit-flex-basis: 60%;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  max-width: 60%; }

.col-50 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-40 {
  -webkit-flex-basis: 40%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  max-width: 40%; }

.col-30 {
  -webkit-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%; }

.col-20 {
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  max-width: 20%; }

.col-10 {
  -webkit-flex-basis: 10%;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  max-width: 10%; }

.col-one-seventh {
  -webkit-flex-basis: 14.285%;
  -ms-flex-preferred-size: 14.285%;
  flex-basis: 14.285%;
  max-width: 14.285%; }

.align-center-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  padding: 30px 50px 0; }
  nav .logo img, nav .logo a {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    vertical-align: middle; }
  nav .logo a {
    margin-left: 30px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    border-left: 2px solid; }
    nav .logo a:hover {
      opacity: .7; }
  nav .ux-navigation {
    list-style: none; }
    nav .ux-navigation li {
      text-transform: uppercase;
      display: inline-block;
      font-size: 18px; }
      nav .ux-navigation li:before {
        content: none; }
      nav .ux-navigation li + li {
        margin-left: 50px; }
      nav .ux-navigation li a {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        color: #fff;
        text-decoration: none;
        display: block;
        opacity: 1; }
        nav .ux-navigation li a:hover {
          opacity: .5; }
      nav .ux-navigation li.active a {
        color: rgba(0, 0, 0, 0.7);
        position: relative;
        opacity: 1; }
        nav .ux-navigation li.active a:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -10px;
          border-bottom: 3px solid rgba(0, 0, 0, 0.3); }

.text-center {
  text-align: center; }

.scene-translator {
  display: none; }

.scene-receiver {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }
  .scene-receiver.is-visible {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .scene-receiver.is-hidden {
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%); }

.scene-text {
  width: 540px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: opacity 0.5s, margin 0.5s;
  transition: opacity 0.5s, margin 0.5s; }
  .scene-text.with-left-position {
    left: 0; }
  .scene-text.with-right-position {
    left: 50%; }
  .scene-text.is-open {
    opacity: 1;
    margin-left: 0; }
  .scene-text.is-hidden {
    opacity: 0;
    pointer-events: none;
    margin-left: -40px; }
  .scene-text.is-hiding {
    opacity: 0;
    margin-left: 40px; }

.scene-gfx {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .scene-gfx > img {
    display: inline-block;
    margin: 0 15px;
    -webkit-transition: margin 0.5s, -webkit-transform 0.5s 0.3s;
    transition: margin 0.5s, -webkit-transform 0.5s 0.3s;
    transition: margin 0.5s, transform 0.5s 0.3s;
    transition: margin 0.5s, transform 0.5s 0.3s, -webkit-transform 0.5s 0.3s; }
    .scene-gfx > img.first {
      position: relative;
      top: 15px; }
  .scene-gfx.with-right-position {
    right: 0; }

.scene-control {
  font-family: "PT Serif", serif;
  cursor: pointer;
  font-style: italic;
  padding: 0 30px 0 0;
  border: none;
  background-color: transparent;
  position: relative;
  color: rgba(0, 0, 0, 0.4);
  font-size: 21px;
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .scene-control:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-width: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 10px;
    right: 5px;
    -webkit-transform: skew(-15deg);
        -ms-transform: skew(-15deg);
            transform: skew(-15deg); }
  .scene-control.mod-bigger {
    font-size: 32px; }
    .scene-control.mod-bigger:after {
      top: 20px; }
  .scene-control:hover {
    color: rgba(0, 0, 0, 0.7); }
    .scene-control:hover:after {
      right: 0px;
      border-color: transparent transparent transparent rgba(0, 0, 0, 0.7); }
  .scene-control.is-hidden {
    display: none; }
  .scene-control.is-filled {
    color: #e8ab2b; }
    .scene-control.is-filled:after {
      border-color: transparent transparent transparent #e8ab2b; }

* + .scene-control {
  margin-top: 50px; }

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  line-height: 1; }
  .section-title + * {
    margin-top: 30px; }

.section-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-top: 30px; }
  .section-subtitle + * {
    margin-top: 15px; }

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .hero.is-hidden {
    top: -100%;
    opacity: 0; }
  .hero h1, .hero h3 {
    text-transform: uppercase; }
  .hero h1 {
    font-size: 110px;
    line-height: 110px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 100px; }
  .hero h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px; }
  .hero .hero-text {
    height: 100vh; }
  .hero .scene-control--holder {
    position: absolute;
    left: 50%;
    bottom: 150px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.blueprint {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: url("../img/bg-mesh.png"), #f5f5f5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden; }
  .blueprint .will-show {
    display: none; }
  .blueprint.is-hidden {
    left: 100%; }
    .blueprint.is-hidden.is-hiding .scene-text.with-left-position {
      display: none; }
    .blueprint.is-hidden.is-hiding .will-hide {
      display: none; }
  .blueprint.is-open {
    left: 0; }
  .blueprint.is-third {
    left: 66%;
    width: 34%; }
    .blueprint.is-third .scene-text.with-left-position {
      display: none; }
    .blueprint.is-third .scene-gfx {
      right: auto; }
      .blueprint.is-third .scene-gfx .will-hide {
        display: none; }
      .blueprint.is-third .scene-gfx .will-show {
        display: block;
        margin: 0 auto; }
      .blueprint.is-third .scene-gfx > img.is-selected {
        position: relative;
        top: -50px; }

.progress {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  width: 80%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  display: none; }
  .progress .align-center-vertical {
    position: relative;
    height: 50px; }
  .progress.is-visible {
    display: block;
    -webkit-animation: paginationAppear 0.5s;
            animation: paginationAppear 0.5s; }
    .progress.is-visible button {
      cursor: pointer;
      padding: 0;
      outline: none;
      line-height: 1.6;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      background-color: transparent;
      border: none;
      pointer-events: none;
      position: relative; }
      .progress.is-visible button:before {
        content: '';
        position: absolute;
        left: -webkit-calc(50% - 5px);
        left: calc(50% - 5px);
        height: 0;
        border: 5px solid transparent;
        top: -15px;
        -webkit-transition: border-color 0.5s 0s;
        transition: border-color 0.5s 0s; }
      .progress.is-visible button .scene-name {
        font-family: "Roboto", sans-serif;
        text-align: center;
        color: #e19d1e;
        text-transform: uppercase;
        visibility: hidden;
        -webkit-transition: opacity 0.5s 0s, color 0.5s 0s;
        transition: opacity 0.5s 0s, color 0.5s 0s;
        display: block;
        width: 0;
        height: 0; }
        .progress.is-visible button .scene-name small {
          text-transform: lowercase; }
      .progress.is-visible button.was-active {
        -webkit-box-sizing: content-box;
           -moz-box-sizing: content-box;
                box-sizing: content-box;
        font-size: 12px;
        pointer-events: auto; }
        .progress.is-visible button.was-active[data-scene="2"] {
          -webkit-transition-delay: 2s;
                  transition-delay: 2s; }
        .progress.is-visible button.was-active[data-bar="3"] {
          -webkit-transition-delay: 3.5s;
                  transition-delay: 3.5s; }
        .progress.is-visible button.was-active[data-bar="4"] {
          -webkit-transition-delay: 10.5s;
                  transition-delay: 10.5s; }
        .progress.is-visible button.was-active[data-bar="5"], .progress.is-visible button.was-active[data-bar="6"] {
          -webkit-transition-delay: 4.22s;
                  transition-delay: 4.22s; }
        .progress.is-visible button.was-active .scene-name {
          visibility: visible;
          color: rgba(255, 255, 255, 0.6);
          width: 100%;
          height: auto; }
        .progress.is-visible button.was-active:hover .scene-name {
          color: rgba(0, 0, 0, 0.4);
          -webkit-transition-delay: 0s;
                  transition-delay: 0s; }
      .progress.is-visible button:not(.was-active):before {
        content: '...'; }

.scene-playing-1 .progress button[data-scene="scene1"],
.scene-playing-2 .progress button[data-scene="scene2"],
.scene-playing-3 .progress button[data-scene="scene3"],
.scene-playing-4 .progress button[data-scene="scene4"],
.scene-playing-5 .progress button[data-scene="scene4"],
.scene-playing-6 .progress button[data-scene="scene6"],
.scene-playing-7 .progress button[data-scene="scene7"],
.scene-playing-8 .progress button[data-scene="scene8"] {
  pointer-events: none; }
  .scene-playing-1 .progress button[data-scene="scene1"]:before,
  .scene-playing-2 .progress button[data-scene="scene2"]:before,
  .scene-playing-3 .progress button[data-scene="scene3"]:before,
  .scene-playing-4 .progress button[data-scene="scene4"]:before,
  .scene-playing-5 .progress button[data-scene="scene4"]:before,
  .scene-playing-6 .progress button[data-scene="scene6"]:before,
  .scene-playing-7 .progress button[data-scene="scene7"]:before,
  .scene-playing-8 .progress button[data-scene="scene8"]:before {
    border-bottom: 5px solid rgba(0, 0, 0, 0.2); }
  .scene-playing-1 .progress button[data-scene="scene1"] .scene-name,
  .scene-playing-2 .progress button[data-scene="scene2"] .scene-name,
  .scene-playing-3 .progress button[data-scene="scene3"] .scene-name,
  .scene-playing-4 .progress button[data-scene="scene4"] .scene-name,
  .scene-playing-5 .progress button[data-scene="scene4"] .scene-name,
  .scene-playing-6 .progress button[data-scene="scene6"] .scene-name,
  .scene-playing-7 .progress button[data-scene="scene7"] .scene-name,
  .scene-playing-8 .progress button[data-scene="scene8"] .scene-name {
    visibility: visible;
    color: rgba(0, 0, 0, 0.55); }

.scene-playing-3 .progress button[data-scene="scene3"]:before {
  border-bottom: 5px solid rgba(0, 0, 0, 0.4); }

.scene-playing-3 .logo img {
  -webkit-filter: invert(70%);
          filter: invert(70%);
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s; }

.scene-playing-3 .logo a {
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s; }

.scene-playing-3 .ux-navigation li a {
  -webkit-transition-delay: 3s;
          transition-delay: 3s; }

.scene-playing-3 .progress button.was-active:before {
  -webkit-transition: border-color 0.5s 3.3s;
  transition: border-color 0.5s 3.3s; }

.scene-playing-3 .progress button.was-active .scene-name {
  color: #e19d1e;
  -webkit-transition: opacity 0.5s 0s, color 0.5s 3.3s;
  transition: opacity 0.5s 0s, color 0.5s 3.3s; }
  .scene-playing-3 .progress button.was-active .scene-name.mod-delay {
    color: rgba(0, 0, 0, 0.7); }

.scene-playing-3 .progress button.was-active:hover .scene-name {
  color: rgba(0, 0, 0, 0.5); }

.scene-playing-4 .scene-gfx.with-right-position {
  position: relative; }

.scene-playing-3 .ux-navigation li a,
.scene-playing-4 .ux-navigation li a {
  color: rgba(0, 0, 0, 0.7); }

.scene-playing-3 .ux-navigation li.active a,
.scene-playing-4 .ux-navigation li.active a {
  color: #e8ab2b; }
  .scene-playing-3 .ux-navigation li.active a:after,
  .scene-playing-4 .ux-navigation li.active a:after {
    border-bottom: 3px solid #e8ab2b; }

.scene-playing-8 #receiver {
  opacity: 0; }

@-webkit-keyframes paginationAppear {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50px);
            transform: translate(-50%, 50px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px); } }

@keyframes paginationAppear {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50px);
            transform: translate(-50%, 50px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px); } }

.contact-form form,
.envelope,
.envelope .cap .shadow {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }

.contact-us,
.envelope-container {
  position: fixed;
  left: 50%;
  z-index: 3; }

.contact-us {
  bottom: -50px;
  line-height: 55px;
  background-color: #AAA0B5;
  width: 100px;
  height: 100px;
  color: #FFF;
  -webkit-border-radius: 50% 50% 0 0;
          border-radius: 50% 50% 0 0;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: background-color .4s linear;
  transition: background-color .4s linear; }
  .contact-us:hover {
    background-color: #8F859B; }

.envelope-container {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .4s linear;
  transition: all .4s linear; }

.envelope {
  width: 758px;
  height: 454px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin: 0 auto;
  background: url(../img/noise.png) #dddfe1;
  position: relative; }
  .envelope .front {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-image: url(../img/envelope/03_envelope.png); }
  .envelope .cap,
  .envelope .cap-closed {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .envelope .cap {
    background-image: url(../img/envelope/01_envelope.png);
    bottom: 454px;
    height: 229px;
    -webkit-transition: height .1s .1s linear;
    transition: height .1s .1s linear; }
    .envelope .cap .shadow {
      position: absolute;
      left: 0;
      right: 0;
      height: 20px;
      bottom: 0;
      -webkit-border-radius: 0 0 20px 20px;
              border-radius: 0 0 20px 20px; }
  .envelope .cap-closed {
    background-image: url(../img/envelope/02_envelope.png);
    top: 0;
    height: 0;
    z-index: 7;
    -webkit-transition: height .1s 0s linear;
    transition: height .1s 0s linear; }

.btn {
  padding: 15px 30px;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #e8ab2b;
  color: white;
  -webkit-transition: all .4s linear;
  transition: all .4s linear; }
  .btn:hover {
    background: #de9811; }

.contact-form {
  position: absolute;
  z-index: 3;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .4s .1s linear;
  transition: all .4s .1s linear; }
  .is-open .contact-form {
    -webkit-animation: letterAppear 1s;
            animation: letterAppear 1s; }
  .submitting .contact-form {
    -webkit-animation: letterHide 1s;
            animation: letterHide 1s;
    z-index: 2; }
  .contact-form form {
    width: 600px;
    margin: 0 auto;
    background: url(../img/noise.png) #fff;
    padding: 30px 30px 20px; }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 10px;
    padding: 20px;
    font-family: Roboto, sans-serif;
    border: none;
    background-color: transparent;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    border-bottom: 1px solid #cdcdcd; }
    .contact-form input:focus,
    .contact-form textarea:focus {
      border-color: #9C9C9C; }
  .contact-form textarea {
    resize: none;
    height: 250px; }

.contact-form form input,
.contact-form form textarea,
.envelope button {
  font-weight: 300;
  font-size: 16px;
  outline: 0;
  -webkit-transition: all .4s linear;
  transition: all .4s linear; }

.input-group {
  position: relative; }
  .input-group label.error {
    position: absolute;
    color: #C66870;
    right: 0;
    top: 20px;
    font-weight: 300; }
  .input-group input:-webkit-autofill, .input-group textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important; }
  .input-group input.error, .input-group textarea.error {
    border-color: #C66870; }

.get-in-touch {
  position: relative; }
  .get-in-touch.is-hidden .envelope-container {
    top: 150%; }
  .get-in-touch.is-hidden .contact-form {
    z-index: 2;
    bottom: 20px; }
  .get-in-touch.submitting .contact-form {
    -webkit-transform: translateX(-50%) scale(0.8);
        -ms-transform: translateX(-50%) scale(0.8);
            transform: translateX(-50%) scale(0.8);
    bottom: -40px;
    -webkit-transition: all .4s 0s linear;
    transition: all .4s 0s linear; }
  .get-in-touch.submitting .envelope .cap {
    height: 0;
    -webkit-transition: all .1s 1s linear;
    transition: all .1s 1s linear; }
  .get-in-touch.submitting .envelope .cap-closed {
    height: 250px;
    -webkit-transition: all .1s 1s linear;
    transition: all .1s 1s linear; }
  .get-in-touch.submitting.flying .envelope-container {
    -webkit-transform: translate(300%, -50%);
        -ms-transform: translate(300%, -50%);
            transform: translate(300%, -50%); }

.success-message {
  position: fixed;
  width: 340px;
  height: 240px;
  z-index: 10;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%); }
  .is-hidden .success-message {
    display: none; }
  .success-message .small {
    font-size: 18px;
    font-weight: 300; }

@-webkit-keyframes letterAppear {
  0 {
    bottom: -40px; }
  50% {
    bottom: 435px; }
  100% {
    bottom: -40px; } }

@keyframes letterAppear {
  0 {
    bottom: -40px; }
  50% {
    bottom: 435px; }
  100% {
    bottom: -40px; } }

@-webkit-keyframes letterHide {
  0 {
    bottom: -40px; }
  50% {
    bottom: 435px; }
  100% {
    bottom: -40px; } }

@keyframes letterHide {
  0 {
    bottom: -40px; }
  50% {
    bottom: 435px; }
  100% {
    bottom: -40px; } }
