@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700|PT+Serif:400|Montserrat:700)

/* ----------------------------------- */
/* ------- Variables and mixins ------ */
/* ----------------------------------- */

$color-light: #fff
$color-dark: #000
$color-action: #785ae6
$color-yellow: #e8ab2b
$font-main: 'Roboto', sans-serif
$font-text: 'PT Serif', serif
$font-highlight: 'Montserrat', sans-serif
$transition-time-general: .5s


*
  box-sizing: border-box
  margin: 0

html,
body
  height: 100%

body
  font-family: $font-main
  font-size: 18px
  font-weight: 400
  line-height: 30px
  color: $color-light
  background: #e79e11 url(../img/noise.png)
  text-shadow: 0 2px 6px rgba(0,0,0,0.1)

ul
  margin: 0
  padding: 0
  list-style-type: none
  font-size: 14px
  line-height: 20px
  & > li
    padding-left: 20px
    &:before
      content: '-'
      display: inline-block
      text-indent: -20px

p
  font-family: $font-text
  font-weight: 400
  line-height: 1.6
  font-size: 18px
  @media (min-width: 1367px)
    font-size: 21px

.container
  max-width: 1400px
  height: 100%
  position: relative
  margin: 0 auto

.row
  box-sizing: border-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-flex: 0 1 auto
  -ms-flex: 0 1 auto
  flex: 0 1 auto
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap

.bottom-xs
  -webkit-align-items: flex-end
  -ms-flex-align: end
  align-items: flex-end
.middle-xs
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center

.pull-right
  float: right

$cols: 10
@while $cols > 0
  .col-#{$cols}0
    -webkit-flex-basis: 10% * ($cols)
    -ms-flex-preferred-size: 10% * ($cols)
    flex-basis: 10% * ($cols)
    max-width: 10% * ($cols)
  $cols: $cols - 1

.col-one-eights
  -webkit-flex-basis: 12.5%
  -ms-flex-preferred-size: 12.5%
  flex-basis: 12.5%
  max-width: 12.5%

.align-center-vertical
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  -webkit-justify-content: space-around
  -ms-flex-pack: distribute
  justify-content: space-around
  -webkit-flex-flow: column
  -ms-flex-flow: column
  flex-flow: column

nav
  position: absolute
  left: 0
  right: 0
  top: 0
  z-index: 3
  padding: 30px 50px 0
  .logo
    img, a
      cursor: pointer
      transition: all $transition-time-general
      vertical-align: middle
    a
      margin-left: 30px
      font-size: 14px
      text-transform: uppercase
      text-decoration: none
      color: #fff
      padding-left: 20px
      border-left: 2px solid
      &:hover
        opacity: .7
  .ux-navigation
    list-style: none
    li
      text-transform: uppercase
      display: inline-block
      font-size: 14px
      @media (min-width: 1367px)
        font-size: 18px
      &:before
        content: none
      & + li
        margin-left: 10px
        @media (min-width: 1367px)
          margin-left: 50px
      a
        transition: all $transition-time-general
        color: #fff
        text-decoration: none
        display: block
        opacity: 1
        &:hover
          opacity: .5
      &.active
        a
          color: rgba(#000,.7)
          position: relative
          opacity: 1
          &:after
            content: ''
            position: absolute
            left: 0
            right: 0
            bottom: -10px
            border-bottom: 3px solid rgba(#000,.3)

.text-center
  text-align: center

.scene-translator
  display: none

.scene-receiver
  position: fixed
  left: 50%
  top: 50%
  transition: transform $transition-time-general
  &.is-visible
    transform: translate(-50%, -50%)
  &.is-hidden
    transform: translate(50%, -50%)
.scene-text
  width: 40%
  margin-left: 5%
  position: absolute
  top: 50%
  transform: translate(0,-50%)
  transition: opacity $transition-time-general, margin $transition-time-general
  @media (min-width: 1367px)
    width: 540px
    margin-left: 0
  &.with-left-position
    left: 0
  &.with-right-position
    left: 50%
  &.is-open
    opacity: 1
    margin-left: 0
  &.is-hidden
    opacity: 0
    pointer-events: none
    margin-left: -40px
  &.is-hiding
    opacity: 0
    margin-left: 40px
  &.middle-aligned
    left: 30%
    @media (min-width: 1367px)
      left: calc(50% - (540px/2))

.scene-gfx
  @media (max-width: 1366px)
    width: 50%
    .is-third &
      width: 100%
    & > img.will-hide
      max-width: 28%
      float: left
      margin: 0 2.5%

  position: absolute
  top: 50%
  transform: translate(0,-50%)
  & > img
    transition: margin $transition-time-general, transform $transition-time-general .3s
    display: inline-block
    margin: 0 15px
    &.first
      position: relative
      top: 15px
  &.with-right-position
    right: 0

.scene-control
  font-family: $font-text
  cursor: pointer
  font-style: italic
  padding: 0 30px 0 0
  border: none
  background-color: transparent
  position: relative
  color: rgba(#000, .4)
  font-size: 21px
  outline: none
  transition: all $transition-time-general
  &:after
    content: ''
    position: absolute
    width: 0
    height: 0
    border-color: transparent transparent transparent rgba(#000, .4)
    border-style: solid
    border-width: 5px
    transition: all $transition-time-general
    top: 10px
    right: 5px
    transform: skew(-15deg)
  &.mod-bigger
    font-size: 32px
    &:after
      top: 20px
      animation: clickMe 2s infinite
    &:hover
      &:after
        animation: none
  &:hover
    color: rgba(#000, .7)
    &:after
      right: 0px
      border-color: transparent transparent transparent rgba(#000, .7)

  &.is-hidden
    display: none
  &.is-filled
    color: $color-yellow
    &:after
      border-color: transparent transparent transparent $color-yellow
* + .scene-control
  margin-top: 50px

.section-title
  font-family: $font-highlight
  font-size: 48px
  font-weight: 700
  margin: 0
  text-transform: uppercase
  line-height: 1
  @media (min-width: 1367px)
    font-size: 60px

  & + * 
    margin-top: 30px

.section-subtitle
  font-family: $font-highlight
  font-size: 18px
  font-weight: 700
  margin: 0
  margin-top: 30px
  & + *
    margin-top: 15px

.hero
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 3
  opacity: 1
  transition: all $transition-time-general
  &.is-hidden
    top: -100%
    opacity: 0
  h1,h3
    text-transform: uppercase
  h1
    font-size: 110px
    line-height: 110px
    font-family: $font-highlight
    margin-bottom: 100px
  h3
    font-size: 36px
    line-height: 36px
    font-weight: 300
    font-family: $font-main
    margin-bottom: 30px
  .hero-text
    height: 100vh
  .scene-control--holder
    position: absolute
    left: 50%
    bottom: 150px
    transform: translateX(-50%)

.blueprint
  position: fixed
  width: 100%
  height: 100%
  top: 0
  background: url('../img/bg-mesh.png'), #f5f5f5
  transition: all $transition-time-general
  color: rgba($color-dark, .7)
  overflow: hidden
  .will-show
    display: none
  &.is-hidden
    left: 100%
    &.is-hiding
      .scene-text.with-left-position
        display: none
      .will-hide
        display: none
  &.is-open
    left: 0
  &.is-third
    left: 50%
    width: 50%
    @media (min-width: 1367px)
      left: 66%
      width: 34%
    .scene-text.with-left-position
      display: none
    .scene-gfx
      right: auto
      .will-hide
        display: none
      .will-show
        display: block
        margin: 0 auto
      & > img.is-selected
        position: relative
        width: 250px
        top: -35px
        @media (min-width: 1367px)
          width: auto
          top: -50px

.btn
  padding: 15px 30px
  min-width: 150px
  font-size: 16px
  font-weight: 300
  cursor: pointer
  border: none
  border-radius: 3px
  background: $color-action
  color: white
  outline: none
  transition: background-color .4s linear
  &:hover
    background: darken($color-action, 5%)
  &:active
    transform: translateY(1px)

// Progress
.progress
  position: fixed
  z-index: 10
  bottom: 10px
  left: 50%
  transform: translate(-50%, 0px)
  width: 80%
  transition: all $transition-time-general
  text-align: center
  display: none
  .align-center-vertical
    position: relative
    height: 50px
  &.is-visible
    display: block
    animation: transcendUp $transition-time-general
    button
      cursor: pointer
      padding: 0
      outline: none
      line-height: 1.6
      transition: all $transition-time-general
      background-color: transparent
      border: none
      pointer-events: none
      position: relative
      .in-transition &
        pointer-events: none !important
      &:before
        content: ''
        position: absolute
        left: calc(50% - 5px)
        height: 0
        border: 5px solid rgba(#000,0)
        top: -15px
        transition: border-color $transition-time-general 0s
      .scene-name
        font-family: $font-main
        text-align: center
        color: #e19d1e
        text-transform: uppercase
        visibility: hidden
        transition: opacity $transition-time-general 0s, color $transition-time-general 0s
        display: block
        width: 0
        height: 0
        small
          text-transform: lowercase
      &.was-active
        box-sizing: content-box
        font-size: 12px
        pointer-events: auto
        &[data-scene="2"]
          transition-delay: 2s
        &[data-bar="3"]
          transition-delay: 3.5s
        &[data-bar="4"]
          transition-delay: 10.5s
        &[data-bar="5"], &[data-bar="6"]
          transition-delay: 4.22s
        .scene-name
          visibility: visible
          color: rgba(#fff, .6)
          width: 100%
          height: auto
        &:hover
          .scene-name
            color: rgba(#000, .4)
            transition-delay: 0s
      &:not(.was-active)
        &:before
          content: '...'

.scene-playing-1 .progress button[data-scene="scene1"],
.scene-playing-2 .progress button[data-scene="scene2"],
.scene-playing-3 .progress button[data-scene="scene3"],
.scene-playing-4 .progress button[data-scene="scene4"],
.scene-playing-5 .progress button[data-scene="scene4"],
.scene-playing-6 .progress button[data-scene="scene6"],
.scene-playing-7 .progress button[data-scene="scene7"],
.scene-playing-8 .progress button[data-scene="scene8"],
.scene-playing-9 .progress button[data-scene="scene9"],
  pointer-events: none
  &:before
    border-bottom: 5px solid rgba(#000,.2)
  .scene-name
    visibility: visible
    color: rgba(#000, .55)
.scene-playing-3 .progress button[data-scene="scene3"]
  &:before
    border-bottom: 5px solid rgba(#000,.4)

.scene-playing-3
  .logo
    img
      filter: invert(70%)
      transition-delay: 3.5s
    a
      color: rgba(#000,.7)
      transition-delay: 3.5s
  .ux-navigation
    li
      a
        transition-delay: 3s
  .progress
    button
      &.was-active
        &:before
          transition: border-color $transition-time-general 3.3s
        .scene-name
          color: #e19d1e
          transition: opacity $transition-time-general 0s, color $transition-time-general 3.3s
          &.mod-delay
            color: rgba(#000,.7)
        &:hover
          .scene-name
            color: rgba(#000,.5)
.scene-playing-4
  .scene-gfx.with-right-position
    position: relative

.scene-playing-3,
.scene-playing-4
  .ux-navigation
    li
      a
        color: rgba(#000,.7)
      &.active
        a
          color: $color-yellow
          &:after
            border-bottom: 3px solid $color-yellow

.scene-playing-8,
.scene-playing-9
  #receiver
    opacity: 0

// Animations
@keyframes transcendUp
  0%
    opacity: 0
    transform: translate(-50%, 50px)
  100%
    opacity: 1
    transform: translate(-50%, 0px)

@keyframes clickMe
  0%
    transform: skew(-15deg) translateX(10px)
  50%
    transform: skew(-15deg) translateX(0px)
  100%
    transform: skew(-15deg) translateX(10px)

